/* -------------------- Перелік стеку компанії ---------- */
.steck-company {
    padding-top: 0;
}
.steck-list {
    display: flex;
    gap: 30px;
}
.list-section {
    /* <li> */
    flex-basis: calc((100% - 60px) / 3);
}
.section-description {
    position: relative;
}
.steck-list .list-section img {
    max-width: 370px;
}
.section-text {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}